<main>
  <div class="winLossPercentage card">
    <form>
      <label for="winLossPercentageCardName">Card Name:</label>
      <input
        type="text"
        name="winLossPercentageCardName"
        #winLossPercentageCardName
        placeholder="Card Name"
      />
      <label for="winLossPercentageStartDate">Start Date:</label>
      <input
        type="date"
        name="winLossPercentageStartDate"
        #winLossPercentageStartDate
      />
      <label for="winLossPercentageEndDate">End Date:</label>
      <input
        type="date"
        name="winLossPercentageEndDate"
        #winLossPercentageEndDate
      />

      <button
        class="WinLossButton"
        (click)="
          WinLossPercentage(
            winLossPercentageCardName.value,
            winLossPercentageStartDate.value,
            winLossPercentageEndDate.value
          )
        "
      >
        Buscar
      </button>
    </form>

    <div class="chart">
      <p-chart type="pie" [data]="WinLossPercentageData" [options]="options" />
    </div>
  </div>

  <div class="decksWithWinPercentage card">
    <form>
      <label for="decksWithWinPercentageWinPercentage">Win Percentage:</label>
      <input
        type="number"
        name="decksWithWinPercentageWinPercentage"
        #decksWithWinPercentageWinPercentage
        placeholder="Win Percentage"
      />
      <label for="decksWithWinPercentageStartDate">Start Date:</label>
      <input
        type="date"
        name="decksWithWinPercentageStartDate"
        #decksWithWinPercentageStartDate
      />
      <label for="decksWithWinPercentageEndDate">End Date:</label>
      <input
        type="date"
        name="decksWithWinPercentageEndDate"
        #decksWithWinPercentageEndDate
      />

      <button
        class="deckWinButton"
        (click)="
          decksWithWinPercentage(
            decksWithWinPercentageWinPercentage.value,
            decksWithWinPercentageStartDate.value,
            decksWithWinPercentageEndDate.value
          )
        "
      >
        Buscar
      </button>
    </form>

    <div class="chart">
      <p-chart
        type="pie"
        [data]="decksWithWinPercentageData"
        [options]="options"
      />
    </div>
  </div>

  <div class="lossesByCombo card">
    <form>
      <label for="lossesByComboStartDate">Start Date:</label>
      <input
        type="date"
        name="lossesByComboStartDate"
        #lossesByComboStartDate
      />
      <label for="lossesByComboEndDate">End Date:</label>
      <input type="date" name="lossesByComboEndDate" #lossesByComboEndDate />

      <label for="lossesByComboList">Combo:</label>
      <input type="string" name="lossesByComboList" #lossesByComboList />

      <button (click)="pushValueToLossesConmbo(lossesByComboList.value)">
        Adicionar ao combo
      </button>

      <button
        class="lossesByComboButton"
        (click)="
          lossesByCombo(
            lossesByComboStartDate.value,
            lossesByComboEndDate.value
          )
        "
      >
        Buscar
      </button>
    </form>
    <div class="chart">
      <p-chart type="doughnut" [data]="lossesByComboData" [options]="options" />
    </div>
  </div>

  <div class="topCombos card">
    <form>
      <label for="topCombosSize">Combo size:</label>
      <input type="number" name="topCombosSize" #topCombosSize />

      <label for="topCombosWinPercentage">Win Percentage:</label>
      <input
        type="number"
        name="topCombosWinPercentage"
        #topCombosWinPercentage
      />

      <label for="topCombosStartDate">Start Date:</label>
      <input type="date" name="topCombosStartDate" #topCombosStartDate />
      <label for="topCombosEndDate">End Date:</label>
      <input type="date" name="topCombosEndDate" #topCombosEndDate />

      <button
        class="topCombosButton"
        (click)="
          topCombos(
            topCombosSize.value,
            topCombosWinPercentage.value,
            topCombosStartDate.value,
            topCombosEndDate.value
          )
        "
      >
        Buscar
      </button>
    </form>

    @for(combo of topCombosData; track combo){ 
      <p>{{combo.winPercentage}}</p>
      @for(cards of combo._id; track cards){
        <p>{{cards.name}}</p>
      }
    }
  </div>

  <div class="mostUsedCards card">
    <form>
      <label for="mostUsedCardsLevel">Level:</label>
      <input type="number" name="mostUsedCardsLevel" #mostUsedCardsLevel />

      <label for="mostUsedCardsLimit">Limit:</label>
      <input type="number" name="mostUsedCardsLimit" #mostUsedCardsLimit />
      <button
        class="mostUsedCardsButton"
        (click)="
          mostUsedCards(mostUsedCardsLevel.value, mostUsedCardsLimit.value)
        "
      >
        Buscar
      </button>
    </form>

    <div class="chart">
      <p-chart type="pie" [data]="mostUsedCardsData" [options]="options" />
    </div>
  </div>

  <div class="undefeatedPlayers card">
    <form>
      <label for="undefeatedPlayersTrophies">Trophies:</label>
      <input
        type="number"
        name="mostUsedCardsLevel"
        #undefeatedPlayersTrophies
      />

      <button
        class="undefeatedPlayersButton"
        (click)="undefeatedPlayers(undefeatedPlayersTrophies.value)"
      >
        Buscar
      </button>
    </form>
    <div class="chart">
      <p-chart type="pie" [data]="undefeatedPlayersData" [options]="options" />
    </div>
  </div>

  <div class="cardsWithHighLossRate card">
    <form>
      <label for="cardsWithHighLossRateStartDate">Start Date:</label>
      <input
        type="date"
        name="cardsWithHighLossRateStartDate"
        #cardsWithHighLossRateStartDate
      />
      <label for="cardsWithHighLossRateEndDate">End Date:</label>
      <input
        type="date"
        name="decksWithWinPercentageEndDate"
        #cardsWithHighLossRateEndDate
      />
      <label for="cardsWithHighLossRateLimit">Limit:</label>
      <input
        type="number"
        name="cardsWithHighLossRateLimit"
        #cardsWithHighLossRateLimit
        placeholder="Limit Quantity"
      />

      <button
        class="cardsWithHighLossRateButton"
        (click)="
          cardsWithHighLossRate(
            cardsWithHighLossRateStartDate.value,
            cardsWithHighLossRateEndDate.value,
            cardsWithHighLossRateLimit.value
          )
        "
      >
        Buscar
      </button>
    </form>

    <div class="chart">
      <p-chart type="pie" [data]="cardsWithHighLossRateData" [options]="options" />
    </div>
  </div>
</main>
